/* Animation Preview */
.anim-preview-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
}

.anim-preview-canvas {
  border: 1px solid #555;
  border-radius: 3px;
  max-width: 100%;
  height: auto;
}
