/* Animation Preview */
.anim-preview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
}

.anim-preview-canvas {
  border: 1px solid #555;
  border-radius: 3px;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
