/* StatusBar */
.statusbar {
  grid-area: statusbar;
  background: #3c3f41;
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-top: 1px solid #222;
  font-size: 12px;
  color: #999;
  gap: 16px;
}

.statusbar-item {
  white-space: nowrap;
}
